@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'DRUZHOK';
  src: url('https://fonts.cdnfonts.com/s/93699/DRUZHOK.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
